.nav-link {
    color: #000000;
}

.blackLink {
    color: #000000;
}

.navbar {
    background-color: #FFFFFF;
}

body {
    color: #000000;
    background-color: #FFFFFF;
}

.accordion {
    color: #000000;
}